.btn-primary {
    background-color: #018577;
    border-color:  #018577;
}

.btn-primary:hover {
    background-color: #146d64;
    border-color: #146d64;
}

a, .btn-link {
    color: #4d917a;
}

a:hover, .btn-link:hover{
    color: #c15666;
}

.navbar-nav.mr-auto {
    display: block;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	background-color:  #018577;
}